h1 {
    text-align: center;
    font-family: Lora, Arial;
    font-style: italic;
    font-weight: 700;
}




.IFuOkc {
    background-position: center center;
    background-image: url(&quot;https://lh4.googleusercontent.com/7bi-1VUOK-GZ8uC1VDMr_QBMaBHzKSj2XkUO1wOgkWD2oY_agjGpDu_Lc023LVZhXFJr3w3XwoUXb62wC1o3pvE=w16383&quot;);
    background-size: cover;
    transform: translate3d(0px, 304px, 0px);
}

.Ce1Y1c {
    top: -11px
}

.zfr3Q {

    text-align: center;
    color: #000000;
    font-family: Arial;
    font-variant: normal;
    font-weight: 700;
}

.titulo1{
    color: #1c4587;
}

.C9DxTc {
    color: #1c4587;
    font-family: Lato, Arial;
    font-size: 12.0pt;
    font-style: italic;
    font-variant: normal;
    font-weight: 700;
    vertical-align: baseline;
}

.JYVBee {
    margin-left: 15.0pt;
    padding-left: 0.0pt;
    text-indent: 15.0pt;
}

.CDt4Ke {
    text-align: center;
    background-color: transparent;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: none;
    line-height: 1.38;
    margin-bottom: 8.0pt;
    margin-top: 0.0pt;
    padding-bottom: 0.0pt;
    padding-left: 0.0pt;
    padding-right: 0.0pt;
    padding-top: 0.0pt;
    color: #000000;
    font-family: Arial;
    font-variant: normal;
    font-weight: 700;
}

.OUGEr {
    display: none;

}

.C9DxTc {
    text-align: center;
    color: #000000;
    font-family: Arial;
    font-size: 12.0pt;
    font-weight: 400;
    vertical-align: baseline;
}

.menu-botao {
    border-left: 1px solid black;
    padding-left: 5px;
}